 {% block content %}
    <div id="sidebar">
        <h3>Cetegories</h3>
        <ul>
            <li {% if not category %}class="selected"{%andif%}>
                <a href="{%url 'food:product_list"%}'>
                    All
                </a>
            </li>
            {%for c in categories%}
            <li {%if category.slug==c.slug %}class="selected"{%andif%}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>
            {%if category%}{{category.name}}{%else%}Products{% endif %}
        </h1>
        {%for product in products}
        <div class="iten">
            <a href="{{product.get_absolute_url}}">
                <img src="{%product.image%}{{product.image.url}}{%else%}{%endif%}" alt="">
            </a>
            <a href="{{ product.get_absolute_url }}">{{product.name}}</a>
            <br>
            ${(product.price)}
        </div>
        {% endfor %}
    </div>
 {% endblock %}

<!-- <a href="">-->
<!--     -->
<!-- </a>-->
<!-- -->
<!-- <h1>-->
<!--     -->
<!-- </h1>-->